@import url('./globalStyles.css');

.header-main-container {
    width: 100%;
    min-height: 60px;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10%;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    transition: 0.3s ease-in-out;
}

.header-options ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.header-options ul li  {
    list-style-type: none;
    margin: auto 20px;
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 50px;
    font-family: var(--mediumHeadingFontFamily);
    font-size: var(--heading6);
    font-weight: var(--regular);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: var(--darkText)
}
.header-options ul li:hover {
    background-color: var(--ultraLightGrey);
    transition: 0.2s ease-in-out;
}
.link {
    color: var(--darkText)
}

.header-logo {
    width: auto;
    margin: auto 0;
}

.header-logo img {
    width: 60px;
    visibility: visible;
    margin: auto 0;
    transition: opacity 0.25s ease-in;
}

@media only screen and (max-width: 600px) {
    .header-logo {
        width: auto;
    }
    .header-logo img {
        width: 60vw;
    }
    .rotate {
        transform: rotate(-90deg);
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .mobile-menu {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        transition: height 0.3s ease;
    }
    .header-options ul {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        padding-left: 0;
    }
}