@import '../css/globalStyles.css';

.main-container {
    background-color: var(--background);
}

.home-main-content {
   box-sizing: border-box;
   height: 100vh;
   align-items: center;
   scroll-behavior: smooth;
}

.home-main-content-inner {
    padding-top: 120px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: var(--background);
}

.home-main-content-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10%;
    padding-top: 20px;
    height: 100%;
}

.home-main-content-logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.dsc-only-logo {
    width: 100px;
}
.dsc-only-text {
    width: 300px;
}

.home-main-content-text .h2 {
    color: var(--darkText);
    text-align: center;
    margin-top: 10vh;
}

.home-main-content-text .t1 {
    font-family: 'Wavehaus-Light';
    font-size: 18px;
    color: var(--darkGrey);
    letter-spacing: 0.8px;
    text-align: center;
}

.change-word {
    overflow: hidden;
    position: relative;
    float: right;
    height: 32px;
    padding-top: 5px;
    margin-top: -5px;
    background-color: transparent;
    margin-left: 5px;
    border-radius: 7px;
    width: fit-content;
    background-color: var(--ultraLightGrey);
    transition: 0.55s ease;
    box-shadow: 0px 3px 5px var(--lightGrey);
}

.flip {
    animation: flip 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    animation-delay: 200ms;
    list-style-type: none;
    padding-left: 0;
}

.change-word ul li {
    font-family: 'Wavehaus-Light';
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
    color: var(--background);
    font-weight: 600;
}

.home-main-content-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-main-content-image img {
    width: 90%;
    margin-bottom: 10%;
}

.home-main-content-down-arrow {
    position: absolute;
    width: 10%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    bottom: 10px;
    align-self: center;
    margin-left: 45%;
    cursor: pointer;
}

.home-main-content-down-arrow-arrow {
    padding: 8px;
    background-color: transparent;
    border-radius: 35px;
    /* box-shadow: 2px 2px 15px #0000002a; */
}


.dsc-def-container {
    width: 100%;
    height: 300px;
    background-color: var(--googleYellow);
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dsc-def-container .h5 {
    width: 30%;
    color: #202020;
    line-height: 25px;
}

.dsc-def-container .t2 {
    width: 60%;
}

.about-us-container {
    background-color: var(--background); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.grid-opportunities {
    width: 100%;
    margin: 0 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10vw;
    row-gap: 40px;
    padding: 50px 10%;
}

.grid-opportunities-item:nth-child(even) {
    flex-direction: row-reverse;
}

.grid-opportunities-item {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.opportunities-icon {
    width: 21px;
    height: 21px;
    margin: 0 25px;   
}

.opportunities-icon svg {
    color: linear-gradient(red, blue);
}

@-webkit-keyframes shine {
    from {
      background-position: 200% center;
    }
  }
  
@keyframes shine {
    from {
      background-position: 200% center;
    }
}
/* .about-us-container p {
    font-family: var(--smallHeadingFontFamily);
    font-size: var(--heading5);
    font-weight: var(--thin);
    color: #ffffff;
    width: 60%;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.5px;
} */

.features {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.feature-item {
    width: 100%;
    background-color: transparent;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 350px;
    justify-content: space-between;
    margin: 20px 0;
}

.feature-item:nth-child(even) {
    flex-direction: row-reverse;
}
.feature-item:nth-child(even) .feature-item-left {
    padding-left: 0;
    padding-right: 10vw;
}

.feature-item-left {
    width: 47.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 10vw;
    border-radius: 5px;
    padding-right: 0;
    overflow: hidden;
}

.feature-0{
    animation: float 5s ease-in-out infinite;
    margin-top: 20%;
    width: 75%;
}

.feature-1{
    animation: float3 5s ease-in-out infinite;
    margin: auto 0;
    width: 75%;
}

.feature-2{
    animation: float 5s ease-in-out infinite;
    margin: auto 0;
    width: 75%;
}

.feature-item-right {
    width: 52.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 10vw;
}

.feature-item-image {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-item-image img {
    width: 7vw;
    height: 7vw;
}


.join-dsc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    margin: 20px 0;
}

.join-dsc-container-inner {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 70px;
}

.join-dsc-card {
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.join-dsc-card-upper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.join-dsc-index {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.join-dsc-card-text {
    margin-left: 50px;
    width: calc(100%-20px);
    margin-top: 10px;
    line-height: 23px;
}

.blue-container {
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--googleBlue);
    padding-bottom: 50px;
}

.event-card {
    width: 100%;
    height: 300px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-card:nth-child(even) {
    flex-direction: row-reverse;
}

.event-card-image {
    width: 50%;
    height: 300px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.event-card-image img {
    object-fit: contain;
    height: 100%;
}

.know-more {
    font-size: 17px;
    color: rgb(13, 48, 206);
    cursor: pointer;
    margin-top: 20px;
}


@media only screen and (max-width: 600px) {
    .home-main-content {
        height: 95vh;
    }
    .home-main-content-inner {
        flex-direction: column;
        padding-top: 20px;
    }
    .home-main-content-text {
        width: 100%;
        padding: 0 5%;
    }
    .home-main-content-text img {
        width: 60%;
    }
    .home-main-content-text h6 {
        font-size: var(--verySmallText);
    }
    .home-main-content-image {
        width: 100%;
        overflow: hidden;
    }
    .home-main-content-image img {
        width: 120%;
    }
    .svg-curve {
        height: 30px;
        bottom: -1px;
    }
    .hero {
        height: 1.7rem;
        bottom: -1px;
    }
    .features {
        flex-direction: column;
        align-items: center;
    }
    .feature-item {
        width: 100%;
        margin: 20px auto;
    }
    .feature-item-image {
        width: 30vw;
        height: 30vw;
        border-radius: 30vw;
    }
    .feature-item-image img {
        width: 60%;
        height: 60%;
    }
}
