.home-main-content {
   box-sizing: border-box;
   height: 100vh;
   align-items: center;
   scroll-behavior: smooth;
}

.home-main-content-inner {
    padding-top: 120px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.home-main-content-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10%;
    padding-bottom: 5%;
}

.home-main-content-text img {
    width: 90%;
}

.home-main-content-text h4 {
    font-family: var(--bigHeadingFontFamily);
    font-size: var(--heading6);
    font-weight: var(--bold);
    margin-top: 10%;
    text-align: center;
}

.home-main-content-text h6 {
    font-family: var(--smallHeadingFontFamily);
    font-size: var(--heading5);
    font-weight: var(--light);
    margin-top: 10%;
    text-align: center;
}

.home-main-content-image {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-main-content-image img {
    width: 90%;
    margin-bottom: 10%;
}

.home-main-content-down-arrow {
    position: absolute;
    width: 10%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    bottom: 10px;
    align-self: center;
    margin-left: 45%;
    cursor: pointer;
}

.home-main-content-down-arrow-arrow {
    padding: 8px;
    background-color: #ffffff;
    border-radius: 35px;
    box-shadow: 2px 2px 15px #0000002a;
}

.hero {
    color: #111236;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
    box-sizing: inherit;
    position: relative;
    display: flex;
    min-width: 10rem;
    height: 1.5rem;
    overflow: hidden;
    width: 100%;
    align-items: flex-end;
    align-self: flex-end;

}
.hero::after{
    box-sizing: inherit;
}
.hero::before{
    box-sizing: inherit;
}

.svg-curve {
    color: #111236;
    font-size: 1rem;
    line-height: 1.3rem;
    box-sizing: inherit;
    position: absolute;
    bottom: -1px;
    width: 700rem;
    height: 24px;
    margin-left: 50%;
    transform: translateX(-50%);
    fill: #2a2b2b;
    overflow: hidden;
}

.about-us-container {
    height:1500px; 
    background-color: #2a2b2b; 
    top: -40px; 
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-container h3 {
    font-family: var(--bigHeadingFontFamily);
    font-size: var(--heading1);
    font-weight: var(--bold);
    color: #ffffff;
}

.about-us-container h4 {
    font-family: var(--bigHeadingFontFamily);
    font-size: var(--heading4);
    font-weight: var(--bold);
    color: #ffffff;
}

.about-us-container p {
    font-family: var(--smallHeadingFontFamily);
    font-size: var(--heading5);
    font-weight: var(--thin);
    color: #ffffff;
    width: 60%;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.features {
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 70%;
    justify-content: space-between;
}

.feature-item {
    width: 25%;
    background-color: transparent;
    margin: 0 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-item-image {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: #434343;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-item-image img {
    width: 7vw;
    height: 7vw;
}

.feature-item h4 {
    font-family: var(--smallHeadingFontFamily);
    font-size: var(--heading4);
    font-weight: var(--regular);
    letter-spacing: 0.9px;
    margin: 20px 0 0 0;
    padding: 0;
    text-align: center;
}

.feature-item h6 {
    font-family: var(--smallHeadingFontFamily);
    font-size: var(--smallText);
    font-weight: var(--thin);
    letter-spacing: 0.9px;
    margin: 25px 0 10px 0;
    padding: 0;
    text-align: center;
    color: #f6f6f6;
}
