@import "../css/globalStyles.css";

.main-container {
  background-color: var(--background);
}

.home-main-content {
  box-sizing: border-box;
  height: 100vh;
  align-items: center;
  scroll-behavior: smooth;
}

.home-main-content-inner {
  padding-top: 80px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--background);
}

.home-main-content-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10%;
  padding-top: 20px;
  height: 100%;
}

.home-main-content-logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.dsc-only-logo {
  width: 100px;
}
.dsc-only-text {
  width: 400px;
}

.home-main-content-text .h2 {
  color: var(--darkText);
  text-align: center;
  margin-top: 10vh;
}

.home-main-content-text .t1 {
  /* font-family: 'Wavehaus-Light'; */
  font-size: 18px;
  color: var(--darkGrey);
  letter-spacing: 0.8px;
  text-align: center;
}

.change-word {
  overflow: hidden;
  position: relative;
  float: right;
  height: 32px;
  padding-top: 5px;
  margin-top: -5px;
  background-color: transparent;
  margin-left: 5px;
  border-radius: 7px;
  width: fit-content;
  background-color: var(--ultraLightGrey);
  transition: 0.55s ease;
  box-shadow: 0px 3px 5px var(--lightGrey);
}

.flip {
  animation: flip 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  animation-delay: 200ms;
  list-style-type: none;
  padding-left: 0;
}

.change-word ul li {
  /* font-family: 'Wavehaus-Light'; */
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
  color: var(--background);
  font-weight: 600;
}

.home-main-content-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-main-content-image img {
  width: 90%;
  margin-bottom: 10%;
}

.home-main-content-down-arrow {
  position: absolute;
  width: 10%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  bottom: 10px;
  align-self: center;
  margin-left: 45%;
  cursor: pointer;
}

.home-main-content-down-arrow-arrow {
  padding: 8px;
  background-color: transparent;
  border-radius: 35px;
  /* box-shadow: 2px 2px 15px #0000002a; */
}

.dsc-def-container {
  width: 100%;
  height: 300px;
  background-color: var(--googleYellow);
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dsc-def-container .h5 {
  width: 30%;
  color: #202020;
  line-height: 25px;
}

.dsc-def-container img {
  width: 30%;
  margin-left: 10%;
}

.dsc-def-container .t2 {
  width: 60%;
}

.fifty {
  width: 50% !important;
}

.about-us-container {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.grid-opportunities {
  width: 100%;
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10vw;
  row-gap: 40px;
  padding: 50px 10%;
}

.grid-opportunities-item:nth-child(even) {
  flex-direction: row-reverse;
}

.grid-opportunities-item {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.opportunities-icon {
  width: 21px;
  height: 21px;
  margin: 0 25px;
}

.opportunities-icon svg {
  color: linear-gradient(red, blue);
}

@-webkit-keyframes shine {
  from {
    background-position: 200% center;
  }
}

@keyframes shine {
  from {
    background-position: 200% center;
  }
}
/* .about-us-container p {
    font-family: var(--smallHeadingFontFamily);
    font-size: var(--heading5);
    font-weight: var(--thin);
    color: #ffffff;
    width: 60%;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.5px;
} */

.features {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.feature-item {
  width: 100%;
  background-color: transparent;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 350px;
  justify-content: space-between;
  margin: 20px 0;
}

.feature-item:nth-child(even) {
  flex-direction: row-reverse;
}
.feature-item:nth-child(even) .feature-item-left {
  padding-left: 0;
  padding-right: 10vw;
}

.feature-item-left {
  width: 47.5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;
  border-radius: 5px;
  padding-right: 0;
  overflow: hidden;
}

.feature-0 {
  animation: float 5s ease-in-out infinite;
  margin-top: 20%;
  width: 75%;
}

.feature-1 {
  animation: float3 5s ease-in-out infinite;
  margin: auto 0;
  width: 75%;
}

.feature-2 {
  animation: float 5s ease-in-out infinite;
  margin: auto 0;
  width: 75%;
}

.feature-item-right {
  width: 52.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
}

.feature-item-image {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-item-image img {
  width: 7vw;
  height: 7vw;
}

.join-dsc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 10%;
  margin: 20px 0;
}

.join-dsc-container-inner {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 70px;
}

.join-dsc-card {
  width: 30%;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.join-dsc-card-upper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.join-dsc-index {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.join-dsc-card-text {
  margin-left: 50px;
  width: calc(100%-20px);
  margin-top: 10px;
  line-height: 23px;
}

.blue-container {
  width: 80vw;
  margin: 0;
  border-radius: 5px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  background-color: #1c67e1;
  padding-bottom: 50px;
  position: relative;
}

.event-card {
  width: 35%;
  height: 350px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
/* 
.event-card:nth-child(even) {
    flex-direction: ro;
} */

.event-card-image {
  width: 100%;
  height: 220px;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  overflow: hidden;
}

.event-card-image img {
  object-fit: scale-down;
  height: 100%;
}

.event-0 {
  animation: float 5s ease-in-out infinite;
}

.event-1 {
  animation: float2 5s ease-in-out infinite;
}

.top-right {
  position: absolute;
  top: 50px;
  right: 50px;
}

.know-more {
  font-size: 17px;
  color: rgb(13, 48, 206);
  cursor: pointer;
  margin-top: 20px;
}

.verbose-container {
  padding: 20px 15vw;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.verbose-upper {
  width: 100%;
  height: 300px;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.verbose-lower {
  width: 100%;
  height: 250px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.verbose-heading {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.spotify-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.spotify-button:hover {
  transform: scale(1.02);
  transition: 0.3s ease-out;
}

.spotify-button * {
  margin-right: 15px;
}

.spotify-button img {
  width: 35px;
  height: 35px;
}

.verbose-featured {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: pointer;
  transition: 0.3s ease-out;
  position: relative;
}
.verbose-featured:hover {
  transform: scale(1.05);
  transition: 0.3s ease-out;
}

.verbose-featured .t3,
.verbose-featured .h5 {
  margin: 5px 20px 0 20px;
  width: calc(100% - 90px);
}

.verbose-featured .h5 {
  margin-bottom: 20px;
}

.play-button {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: 0.3s ease-out;
}

.play-button-small {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: 0.3s ease-out;
}

.play-button:hover,
.play-button-small:hover {
  transform: scale(1.1);
  transition: 0.3s ease-out;
}

.spotify-card {
  width: 22%;
  height: 100%;
  /* background-color: var(--lightGrey); */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: pointer;
  transition: 0.3s ease-out;
  position: relative;
}
.spotify-card:hover {
  transform: scale(1.05);
  transition: 0.3s ease-out;
}

.spotify-card .t4,
.spotify-card .h6,
.spotify-card .t3 {
  margin: 5px 15px 0 15px;
}

.spotify-card .t3 {
  margin-bottom: 15px;
}

.infographic-container {
  width: 100%;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 8px;
  margin: 100px 0;
  overflow: hidden;
  position: relative;
}

infograph {
  background-color: blue;
  border-radius: 5px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 35px var(--grey);
  overflow: hidden;
  transition: 0.3s ease-out;
}

infograph img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

infograph p {
  text-align: center;
  width: 80%;
}

/* infograph:hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
} */

infograph:first-child {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

infograph:nth-child(n + 4):nth-child(-n + 7),
infograph:nth-child(14),
infograph:nth-child(8),
infograph:nth-child(17),
infograph:nth-child(16),
infograph:nth-child(n + 11):nth-child(-n + 13),
infograph:nth-child(20),
infograph:nth-child(27),
infograph:nth-child(29),
infograph:nth-child(14),
infograph:nth-child(8),
infograph:nth-child(17),
infograph:nth-child(16),
infograph:nth-child(n + 11):nth-child(-n + 13),
infograph:nth-child(31),
infograph:nth-child(23),
infograph:nth-child(30),
infograph:nth-child(33),
infograph:nth-child(36),
infograph:nth-child(32),
infograph:nth-child(34) {
  /* background-color: transparent; */
  visibility: hidden;
}

.purple {
  background-color: #5018d8;
}

.green {
  background-color: #06956b;
}

.faint {
  background-color: #ababab1a;
  box-shadow: none;
}

.orange {
  background-color: #ffa66b;
}

.yellow {
  background-color: #f4b400;
}

.white {
  color: white;
}

.i1 {
  position: absolute;
  top: 60px;
  width: 50%;
  text-align: center;
  right: 0;
}

.move-up {
  transform: translateY(-40px);
  transition: 0.3s ease-out;
}

.move-up-2 {
  transform: translateY(-80px);
  transition: 0.3s ease-out;
}

.move-down {
  transform: translateY(40px);
  transition: 0.3s ease-out;
}

.move-down-2 {
  transform: translateY(80px);
  transition: 0.3s ease-out;
}

.move-down-3 {
  transform: translateY(calc(100% + 8px));
  transition: 0.3s ease-out;
}

.move-right-2 {
  transform: translateX(calc(100% + 8px));
  transition: 0.3s ease-out;
}

.faq-container {
  width: 100%;
  padding: 20px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-card {
  width: 100%;
  margin: 30px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.faq-card t1 {
  margin-bottom: 20px;
}

.reviews-container {
  margin: 100px 15%;
  padding: 0 0%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  justify-content: center;
  box-sizing: border-box;
  width: 70%;
}

.review {
  position: absolute;
}

.r1 {
  top: 30px;
  left: 40px;
}

.r2 {
  top: -30px;
  right: 20px;
}

.r3 {
  bottom: 0;
  left: 30px;
}

.r4 {
  bottom: -30px;
  right: 50px;
}

.bluebg {
  background-color: var(--googleBlue);
}

.mouse {
  width: 25px;
  height: 50px;
  border: 2.5px solid var(--grey);
  border-radius: 60px;
  position: relative;
}

.mouse::before {
  content: "";
  width: 6px;
  height: 10px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 6px;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

.video-container {
  width: 80%;
  margin: 20px 20%;
  height: 70vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.video-container video {
  height: 100%;
  margin: 0 auto;
  will-change: transform;
  transform: perspective(600px) rotateX(45deg) scale(0.5);
  transition: 0.4s ease-out;
  border-radius: 5px;
  background-color: #1c67e1;
  object-fit: cover;
}

.animate-vid video {
  transform: perspective(600px) rotateX(0deg) scale(1) !important;
  transition: 0.4s ease-out;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .home-main-content {
    height: 95vh;
  }
  .home-main-content-inner {
    flex-direction: column;
    padding-top: 0px;
  }
  .home-main-content-text {
    width: 100%;
    height: unset;
    padding: 0 5%;
  }
  .home-main-content-logo-box {
    margin-top: 20px;
  }
  .home-main-content-text .h2 {
    margin-top: 50px;
    font-size: 22px;
  }
  .home-main-content-text .t1 {
    /* margin-top: 30px !important; */
    font-size: 14px;
  }
  .home-main-content-text h6 {
    font-size: var(--verySmallText);
  }
  .home-main-content-image {
    width: 100%;
  }
  .home-main-content-image img {
    width: 120%;
  }
  .svg-curve {
    height: 30px;
    bottom: -1px;
  }
  .hero {
    height: 1.7rem;
    bottom: -1px;
  }
  .features {
    flex-direction: column;
    align-items: center;
  }
  .feature-item {
    width: 100%;
    margin: 20px auto;
  }
  .feature-item-image {
    width: 30vw;
    height: 30vw;
    border-radius: 30vw;
  }
  .feature-item-image img {
    width: 60%;
    height: 60%;
  }
  .dsc-only-logo {
    width: 22%;
  }
  .dsc-only-text {
    width: 60%;
  }
  .home-main-content-down-arrow {
  }
  .dsc-def-container {
    width: 100%;
    height: auto;
    background-color: var(--googleYellow);
    padding: 60px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .dsc-def-container .h5,
  .dsc-def-container .t2 {
    width: 100%;
    text-align: center !important;
  }
  .dsc-def-container .t2 {
    margin-top: 30px;
  }
  .grid-opportunities {
    grid-template-columns: repeat(1, 1fr);
  }
  .blue-container {
    width: calc(100vw - 50px);
    margin: 0 25px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #1c67e1;
    padding-bottom: 50px;
    position: relative;
  }
  .blue-container .h2.white.ta-left {
    width: 90% !important;
    margin: 0 auto;
    text-align: center !important;
  }
  .blue-container .secondary-button.top-right {
    top: calc(100% - 50px);
    left: 50%;
    transform: translateX(-50%);
  }
  .join-dsc-container-inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 70px;
  }
  .event-card {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 40px;
  }
  .event-card-image {
    width: 90%;
    height: 220px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    overflow: hidden;
  }

  .event-card-image img {
    object-fit: scale-down;
    height: 100%;
  }
  .verbose-container {
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .verbose-upper {
    width: 100%;
    height: auto;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .verbose-lower {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
  }

  .verbose-heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .verbose-featured {
    width: calc(100% - 40px);
    height: auto;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    cursor: pointer;
    transition: 0.3s ease-out;
    position: relative;
    margin: 0 20px;
    overflow: hidden;
  }
  .verbose-featured:hover {
    transform: scale(1.05);
    transition: 0.3s ease-out;
  }
  .verbose-featured iframe {
    height: auto;
    overflow: hidden;
    display: none;
  }
  .verbose-container .h6.tanText {
    text-align: center;
    margin: 40px auto 20px auto;
  }
  .spotify-card {
    width: 100%;
    height: 240px;
    background-color: var(--lightGrey);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    cursor: pointer;
    transition: 0.3s ease-out;
    position: relative;
    overflow: hidden;
  }
  .spotify-card .t4,
  .spotify-card .h6,
  .spotify-card .t3 {
    margin: 5px 15px 0 15px !important;
    text-align: left !important;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
  }

  .spotify-card .t3 {
    margin-bottom: 15px !important;
  }
  .feature-item {
    width: 100%;
    background-color: transparent;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px;
  }

  .feature-item-left {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: 5px;
    padding-right: 0;
    overflow: hidden;
  }

  .feature-item-right {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    margin-top: 20px;
  }
  .feature-item-right .h0 {
    width: 20%;
    display: none;
    float: left;
  }
  .feature-item-right .h2,
  .feature-item-right .t2 {
    width: 100%;
    text-align: center;
  }
  .feature-item-right .h2 {
    font-size: 28px;
  }
  .feature-item:nth-child(even) {
    flex-direction: column;
  }
  .feature-item:nth-child(even) .feature-item-left {
    padding-right: 0;
  }
  .feature-1 {
    height: 100%;
  }
  .join-dsc-card {
    width: 100%;
  }

  .infographic-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .infographic-container .i1 {
    width: 70%;
    top: 320px;
    font-size: 26px;
  }
  infograph .h5 {
    font-size: 14px;
    font-weight: lighter;
  }
  .faq-card .t1 {
    margin-bottom: 30px;
  }
  .reviews-container {
    display: none;
  }
  .main-container {
    width: 100%;
  }
  .spring {
    margin: unset;
    width: unset;
  }
  .join-line {
    margin-bottom: 50px;
  }
}
